<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
</head>
<body>

    <h2>Efetuar Cadastro</h2>
    <form action = "{{ url_for('cadastrar_recebe_valores') }}" method = "POST">
        <label for="">Nome: </label>
        <input type="text" name="id_nome" id="id_nome"><br><br>
        <label for="">CPF: </label>
        <input type="text" placeholder="digite 11 numeros" name="id_cpf" id="id_cpf"><br><br>
        <label for="">E-mail: </label>
        <input type="text" name="id_email" id="id_email"><br><br>
        <label for="">Celular: </label>
        <input type="text" placeholder="DDD + numeros" name="id_telefone" id="id_telefone"><br><br>
        <input type="submit" name="retorno" value="Cadastrar">
    </form><br>

    <button><a href="http://localhost:5000/">Voltar</a></button>

</body>
</html>