<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Sistema de Cadastro</h1>

    <h2># Create</h2>
    <button><a href="http://localhost:5000/cadastrar">Cadastrar</a></button><br><br>
    <h2># Read</h2>
    <button><a href="http://localhost:5000/consultar-cadastros">Consultar</a></button><br><br>
    <h2># Update</h2>
    <ul>
        <button><a href="http://localhost:5000/alterar-nome">Nome</a></button><br><br>
        <button><a href="http://localhost:5000/alterar-email">E-mail</a></button><br><br>
        <button><a href="http://localhost:5000/alterar-telefone">Celular</a></button>
    </ul>
    <h2># Delete</h2>
    <button><a href="http://localhost:5000/deletar">Deletar</a></button>

</body>
</html>